

/* base styles */
body {
  max-width: 60ch;
  padding: 1rem .75rem;
  margin: auto;
  line-height: 1.6;
  /* line-height: calc(1em + 1ex); */
  font-size: 1.15rem;
  /* font-size: 18px; */
  /* font-family: sans-serif; */
  /* overflow-wrap: break-word; */
  word-break: break-word;
  -webkit-font-smoothing: subpixel-antialiased;
  /* font-family: 'Spectral', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; */
  font-kerning: auto;
  font-weight: 400;
  /* font-family: -apple-system, -system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: -apple-system-ui-serif, ui-serif, "Spectral", "Georgia", serif;
  letter-spacing: 0em;
}

h1,h2,h3,h4,h5,h6 {
  margin: 3rem 0 1rem;
  line-height: 1.3;
}

/* text colors */
* {
  --main-text-hue: 0;
  --main-text-sat: 0%;
  --main-text-lightness: 25%;

  --bold-text-lightness: 3%;
  --semibold-text-lightness: 5%;
  --lighter-text-lightness: 20%;
  --lightest-text-lightness: 30%; 

  color: hsl(var(--main-text-hue),var(--main-text-sat),var(--main-text-lightness));

}

strong, h1, h2, h3, h4, h5, h6 {
  color: hsl(var(--main-text-hue),var(--main-text-sat),var(--bold-text-lightness));
}

blockquote, code {
  color: hsl(var(--main-text-hue),var(--main-text-sat),var(--semibold-text-lightness));
}

p, ul, ol {
  color: hsl(var(--main-text-hue),var(--main-text-sat),var(--main-text-lightness));
}

figcaption {
  color: hsl(var(--main-text-hue),var(--main-text-sat),var(--lighter-text-lightness));
}

hr {
  color: hsl(var(--main-text-hue),var(--main-text-sat),var(--lightest-text-lightness));
}

/* extra touches */
pre, code {
  background-color: hsl(0,0%,97%);
}



pre {
  overflow-wrap: break-word;
  word-break: break-word;
  padding-left: 10px;
  overflow-x: auto;
  white-space: pre-wrap;
}

blockquote {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.75rem;
  margin-left: 0px;
  padding-left: 2.5rem;
  border-left: 4px solid rgb(95, 209, 150);
}

hr {
  margin-top: 3rem;
}
